body {
  background-image: url('https://media.istockphoto.com/photos/retro-tv-receivers-set-from-circa-60s-70s-and-80s-of-xx-century-old-picture-id1215833412?k=6&m=1215833412&s=170667a&w=0&h=La8LOC8nWt5KpCWj54LUMftRhlQnU-9KBaA3ibFb7zo=');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

#title {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 4.5em;
  color: white;
}
