#posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  background-color: white;
  box-shadow: 10px 5px 5px gray;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  position: relative;
  left: 45%;
}

#edit-form {
  cursor: pointer;
  width: 50%;
}
